<template>
  <ion-page>
     <div class="container margin">
      <ion-header>
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button color="primary"></ion-menu-button>
          </ion-buttons>
          <ion-title size="large">Days till Bobby goes to Julia in St.Petersburg</ion-title>
        </ion-toolbar>
      </ion-header>
      
        <div class="content">
          <div class="text">
            <ion-text>{{formatDateTime()}} days left</ion-text>
          </div>
        </div>
      
    </div>
  </ion-page>
</template>

<script>
import { defineComponent } from "vue";
import moment from 'moment'

import {
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
} from "@ionic/vue";

// import login from "../components/LoginComponent.vue";

export default defineComponent({
  name: "LoginOverview",
  components: {
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
  },
  methods:{
    goHome(){
      this.$router.push({name: 'Login'})
    },
    formatDateTime() {
      let m = moment("2023-04-29");  // or whatever start date you have
      let today = moment().startOf('day');

      let days = Math.round(moment.duration(m - today).asDays());
      return days;
    },
  }
});
</script>

<style scoped>
.content{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content div{
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#container {
  height: 100%;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}
</style>
