<template>
  <ion-app>
    <div class="background">
      

      <!-- router outlet -->
      <ion-router-outlet @updateData="updateData()" id="main-content"></ion-router-outlet>
      
    </div>
  </ion-app>
</template>

<script>
 /* eslint-disable */
import { IonApp, IonContent, IonIcon, IonItem, IonLabel, IonList, IonListHeader, 
IonMenu, IonMenuToggle, IonNote, IonRouterOutlet, IonSplitPane, 
IonAccordion, IonAccordionGroup } from '@ionic/vue';
import { defineComponent} from 'vue';
import { useRouter } from 'vue-router';
import * as allIcons from "ionicons/icons";
import main from './main'

import axios from 'axios';

export default defineComponent({
  name: 'App',
  components: {
    IonApp, 
    IonContent, 
    IonIcon, 
    IonItem, 
    IonLabel, 
    IonList, 
    IonListHeader, 
    IonMenu, 
    IonMenuToggle, 
    IonNote, 
    IonRouterOutlet, 
    IonSplitPane,
    IonAccordion,
    IonAccordionGroup
  },
   data(){
    return{
      
      i : allIcons,
      modules:[
        {
          name: 'Semester 1',
          moduleId: 112,
          isOpen: false,
          assignments:null,
          groups: [
            {
            name: 'groep 1', groupId: 123, isOpen: false, users: [
              { name: 'Jorne', studentId: 13, assignments:[]},
              { name: 'Matt', studentId: 123, assignments:[]},
              { name: 'Bobby', studentId: 132, assignments:[]},
              { name: 'Ronald', studentId: 1323, assignments:[]},
            ],
            color: 'green',
            assignments:null,
            grades:null
            },
              { name: 'groep 3', groupId: 323, isOpen: false, users: [
                { name: 'Jorne', studentId: 13, assignments:[]},
                { name: 'Matt', studentId: 123, assignments:[]},
                { name: 'Bobby', studentId: 132, assignments:[]},
                { name: 'Ronald', studentId: 1323, assignments:[]},
              ],
              color: 'orange',
              assignments:null,
              grades:null
            },
              { name: 'groep 5', groupId: 523, isOpen: false, users: [
                { name: 'Jorne', studentId: 13, assignments:[]},
                { name: 'Matt', studentId: 123, assignments:[]},
                { name: 'Bobby', studentId: 132, assignments:[]},
                { name: 'Ronald', studentId: 1323, assignments:[]},
              ],
              color: 'red',
              assignments:null,
              grades:null
            }, 
          ]
        }
      ],
      fetchModule: [],
      fetchStudents: [],
    }
  },
  
  
  created()
  {
   this.updateData()
  },

  mounted(){
    // this.startTimer();
  },
  computed: {
    isLoggedIn() { 
      return this.$store.state.sessionLoggedIn; },
    isTeacher() { 
      return this.$store.state.isTeacher;
    },
    shouldUpdate(){
      return this.$store.state.shouldUpdate;
    }
  },
  watch:{
    '$store.state.shouldUpdate': function() {
     if(this.$store.state.shouldUpdate == true){
       this.updateAllStudentGrades();
       this.$store.commit('setShouldUpdate', false);
     }
    }
  },


  setup() {
    return { 
    }
  },
  methods:{
   
  updateData(){
    axios.get(`https://groep7.azurewebsites.net/api/v1/modules/extended`)
      .then(response => {
          this.fetchModule = response.data;
      })
      .then(()=>{
        let mappedObject = []
        this.fetchModule.forEach((module) =>{

          let mappedGroups = []
          module.groups.forEach(group => {

            let tempUsers = [];
            group.users.forEach(user => {
              let tempUser=
                {
                  id :user.id,
                  firstName :user.firstName,
                  infix :user.infix,
                  lastName :user.lastName,
                  createdAt :user.createdAt,
                  updatedAt :user.updatedAt,
                  usertypeId :user.usertypeId,
                  usergroups :user.usergroups,
                  createdAt :user.createdAt,
                  updatedAt :user.updatedAt,
                  groupId :user.groupId,
                  userId :user.userId,
                  assignments : []
                }
              tempUsers.push(tempUser)
              }
            )

            mappedGroups.push({
              "id": group.id,
              "name": group.name,
              "users": tempUsers,
              "isOpen": false,
              "assignments":null,
              "grades":null
            })
          });

          mappedObject.push({
            "id": module.id,
            "name": module.name,
            "groups": mappedGroups,
            "isOpen": false
          })

        })

        this.modules = mappedObject
      })    
      .catch(e => {
        console.log(e);
      });

      axios.get(`https://groep7.azurewebsites.net/api/v1/users`)
      .then(response => {
        this.fetchStudents = response.data;
      })
      .catch(e => {
        console.log(e);
      });
    },

    toggleFolder(folder){
      folder.isOpen = !folder.isOpen
      this.getStudentGrades(folder)
    },

    updateAllStudentGrades(){
      this.modules.forEach(module => {
        if(module.id == this.$store.state.selectedModule){
          module.groups.forEach(group => {
            this.getStudentGrades(group)
          });
        }
      });
    },

    getStudentGrades(folder){
      folder.users.forEach((student)=>{
        axios.get(this.$store.state.apiURL + `/assignments/ua/` + student.id)
        .then(response => {
          let assignments = response.data[0].assignments;
          student.assignments=assignments;
        })
      })
    },
    icon(name) {
      return this.i[name];
    },

    navigateToStudent(student){
      //console.log(student);
      this.$router.push({name: 'Assignments', params: {id: student.id, selectedObjectRole: 'student', currentComponent: 'assignments'}});

    },
    navigateToGroup(group){
      this.$router.push({name: 'Assignments', params: {id: group.id, selectedObjectRole: 'group', currentComponent: 'assignments'}});
    },
    clickedModule(moduleID)
    {
      console.log("moduleID: " + moduleID);
    }
  }
});
</script>

<style>
    /* scrollbar */
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b8b8b865;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--faded);
  }


  *{
    font-family: 'GT Walsheim Pro Medium Oblique', arial, sans-serif;
    
  }
  ion-content{

      /* --ion-background-color:#babd8059; */
  }

  ion-text{
    color: white;
  }
  ion-label{
    color: white;
  }

  .background {
  top: 0;
  z-index: -100;
  height: 100vh;
  width: 100%;
  background-image: url(./assets/background.png);
  
  background-size: cover;
  position: fixed;
  }

  .container{
    background-color: #223343dc;
    padding: 20px;
    border-radius: 5px;
  }

  .margin{
    margin: 20px 10px 0px 5px;
  }
</style>

<style scoped>



.group{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  border: 1px solid rgba(82, 82, 219, 0.144);
}
.group-content{
  min-width: 100%;
  display: flex;
  flex-direction: row;
}
.students{
  min-width: 50%;
  display: flex;
  flex-direction: column;
}
.grades{
  min-width: 50%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.student{
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.icon-and-title{
  padding-bottom: 20px;
}

.grey{
  color: grey!important;
}
.green{
  color: green!important;
}

.orange{
  color: orange!important;
}

.red{
  color: red!important;
}

.grade{
 display: inline; 
}
.grades ion-text{
  color: #616e7e;
}


.student{
  padding-left: 10px;
}
.student ion-icon{
  max-height: 13px;
}
.folders ion-list{
  min-width: 100%;
  padding: 2px!important;
}
.folder-icons{
  cursor: pointer;
}


.name-and-grades{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.group ion-icon{
  height: 16px;
}

.module{
  min-width: 100%;
}
.module ion-icon{
  height: 14px;
  margin-right: 5px;
}

/* animation */

@keyframes grow{
  0%{
    font-size: 0%;
  }
  100%{
    font-size: 100%;
  }
}
@keyframes shrink{
  0%{
    font-size: 100%;
  }
  99%{
    font-size: 0%;
  }
  100%{
    font-size: 0%;
    display: none;
    height: 0px;
  }
}

.show{
  animation: grow 0.2s forwards;
}

.hide{
    animation-name: shrink;
    animation-duration: 0.2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
 }


/* ionic */

ion-menu ion-content {
  /* --background: var(--ion-item-background, var(--ion-background-color, #fff)); */
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  /* border-bottom: 1px solid var(--ion-color-step-150, #d7d8da); */
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  /* color: #757575; */

  min-height: 26px;
}



ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  /* --background: rgba(var(--ion-color-primary-rgb), 0.14); */
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
</style>
